.card_height {
  height: 400px !important;
  margin-top: 50px;
}

.product_img {
  width: 50%;
  margin-left: 70px;
  height: 200px;
  cursor: pointer;
}

@media (max-width: 969px) {
  .product_img {
    margin-left: none;
  }
  .card_height {
    /* margin-left: 90px; */
  }
}
