.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #232f3e;
  height: 70vh;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: grey;
}

.sidebar a:hover:not(.active) {
  background-color: white;
  color: grey;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-content: space-between; */
  padding: 10px;
}

.min {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 2px 4px;
  margin-top: 5px;
}

.btn_apply {
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  color: grey;
  padding: 2px 4px;
  width: 20px;
  cursor: pointer !important;
}
.btn_dis {
  /* display: none; */
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  color: grey;
  padding: 2px 4px;
  width: 60px;
  margin-top: 5px;
  /* pointer-events: none; */
}

@media screen and (max-width: 969px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .btn_dis {
    width: 30%;
  }
}
