.btn_register:hover {
  background-color: black;
  color: aliceblue;
}
.btn_register {
  width: 150px;
  height: 40px;
  padding: 2px 4px !important;
  border: none;
  border-radius: 10% solid black;
  font-size: 18px;
  font-weight: 500;
}
